/* CSS declarations go here */
body {
    font-family:Avenir,Serif;
    font-size: 20px;
}
.selected {
  background-color: darkkhaki;
  font-family: Optima, Serif;
  font-size:24px;
}

table, th, td {
    text-align: center;
    height: 28px;
    width:350px;
    border: 1px;
    border-style: solid;
    border-spacing: 50px;
    border-color: purple;
    border-collapse: collapse;
}

th {
    background-color: grey;
}

tr {
    /*border-style: ridge ;*/
}

